.post{
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
}

.addCartBtn{
    background-color: white;
    color: black;
    border: 5px solid #00e5ff;
}